@import url('./languageName/languageName.css');

.languageSelectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 60px;
    height: fit-content;
}


@media screen and (min-width: 768px) {
    .languageSelectors {
        min-width: 75px;
    }
}