@import url('./logo/logo.css');
@import url('./languageSelectors/languageSelectors.css');

.header {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
}