@import url('./logo/logo.css');
@import url('./languageSelectors/languageSelectors.css');

.header {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;
    max-width: 984px;
    width: 100%;
    box-sizing: border-box;
}