@import url('./surveyContent/surveyContent.css');

.survey {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

@media screen and (min-width: 768px) {
    .survey {
        margin-top: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .survey {
        max-width: 928px;
        align-items: flex-start;
        margin-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .survey {
        max-width: 984px;
    }
}