@import url('./placeHeading/placeHeading.css');
@import url('./placeContent/placeContent.css');

.placeContentLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
}

@media screen and (min-width: 768px) {
    .placeContentLayout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .placeContentLayout {
        grid-gap: 40px;
    }
}
